<title>{{ page.title }}</title>

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/png" href="{{ '/assets/imgs/favicon-96x96.png' | relative_url }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ '/assets/imgs/favicon.svg' | relative_url }}" />
<link rel="shortcut icon" href="{{ '/assets/imgs/favicon.ico' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/imgs/apple-touch-icon.png' | relative_url }}" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="{{ '/assets/imgs/site.webmanifest' | relative_url }}" />